body {
    background-color: #F0F0F0;
}

.top-nav {
    list-style-type: none;
    padding-left: 0;
}

.top-nav-first {
    text-align: center;
}
.top-nav-second {
    text-align: center;
}
.logo-item {
    margin-top: 45px;
    max-height: 60px;
    margin-bottom: 10px;
}
.top-nav-link {
    color: #000;
}
.nav-item {
    display: inline-block;
}
.logo {
    position: relative;
    bottom: 23px;
    max-width: 105px;
    max-height: 105px;
}

/*
li{
    display:inline;
}
.nav-area{
    text-align: center;
}
.row-grey{
    background-color: #F0F0F0;
    margin-top: 5em;
}
.logo-float{
    float:left;
    position: absolute;
    top: -1em;
    left: 14em;
}
.bg-white{
    height: 5em;
}*/
